.counter {
  display: flex;
  align-items: center;

  padding: 4px 2px;
}

.counter > span {
  color: rgba(28, 28, 28, 0.3);
  font-size: 13px;
  font-weight: 400;
}

.counter > span[data-length='true'] {
  color: #1c1c1c;
}
