.itemContainer
{
    display: flex;
    justify-content: center;
    gap: 98px;

    width: 100%;
}

.image
{
    border-radius: 12px;
}

.info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head
{
    display: flex;
    flex-direction: column;

    width: 512px;

    padding-bottom: 28px;
    border-bottom: 1px solid rgba(28, 28, 28, 0.10);
}

.chips
{
    display: flex;
    gap: 8px;

    margin-bottom: 20px;
}

.chips > div
{
    display: flex;
    align-items: center;

    height: 38px;
    padding: 0 20px;

    border-radius: 999px;

    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.category
{
    background-color: #D0FFC4;
    color: #072200;
}

.date
{
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    color: #3F3F3F;
}

.title
{
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.25px;

    margin-bottom: 36px;
}

.company
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.companyImage
{
    border-radius: 45px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.company > div
{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.gray
{
    color: #A8A8A8;

    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
}

.companyName
{
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.acquisitionContainer
{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    padding: 32px 0 36px;
}

.acquire
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acquire > h1
{
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.25px;
    color: #000000;
}

.acquisitionContainer > p
{
    color: rgba(0, 0, 0, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.editButton
{
    color: rgba(0, 0, 0, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.competencies
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.keywords
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.experience
{
    color: #525252;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.details
{
    color: #0A91DD;

    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.25px;
}

.openToThePublic
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 512px;
    padding: 16px 20px;

    border-radius: 8px;
    background: #F9F9F9;
}

.openToThePublic > div
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.openToThePublic > div > label
{
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.openToThePublic > div > span
{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;

    color: rgba(0, 0, 0, 0.40);
}
