.container
{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 464px;
}

.info
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.head
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.category
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 16px;

    border-radius: 999px;
    background: #D0FFC4;
}

.category > label
{
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.date
{
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}

.description
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.name
{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.publisher
{
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;

    color: rgba(0, 0, 0, 0.40);
}