.urlContainer {
  align-self: stretch;

  padding: 5px 5px 5px 10px;

  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.url {
  font-size: 8px;
  font-weight: 500;
  color: #000;
}

.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 7px 12px;

  border-radius: 5px;
  background: #2756ff;

  color: #fff;
  font-size: 8px;
  font-weight: 500;
  line-height: 8px;
}
