.toast {
  padding: 10px 16px;

  border-radius: 8px;
  border: 1px solid rgba(28, 28, 28, 0.1);
  background: rgba(0, 0, 0, 0.68);

  position: absolute;
  top: -60px;
}

.message {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
}
