.container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 28px 0;
}

.container > div
{
    display: flex;
    flex-direction: column;
    gap: 80px;

    width: 1440px;
}

.itemContainer
{
    display: flex;
    justify-content: center;
    gap: 98px;

    width: 100%;

    background-color: #FFD9C4;
}

.image
{
    border-radius: 12px;
}