.container
{
    width: 100vw;
    height: 100vh;

    position: relative;

    background-color: #FFFFFF;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
}

.loginContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.sloganContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0 28px;
}

.slogan
{
    font-size: 42px;
    font-weight: 700;
    line-height: 130%;
}

.slogan[data-color="blue"]
{
    color: #2D6AFF;
}

.description
{
    color: rgba(17, 17, 17, 0.60);

    font-size: 22px;
    font-weight: 500;
    line-height: 144%;
}

.loginButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 309px;
    padding: 24px 0;
    margin-top: 68px;

    border-radius: 8px;
    background: #2D6AFF;
}

.buttonLabel
{
    color: #FFFFFF;

    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}

