.container {
  width: 100%;
  padding: 0 16px;
}

.header {
  width: 100%;
  max-width: 500px;
  padding: 20px 0;
}

.title {
  color: #111;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.information {
  width: 100%;
  padding-bottom: 20px;

  position: absolute;
  z-index: 0;

  opacity: 0;
  transition:
    opacity 900ms var(--animation-function),
    top 800ms var(--animation-function);
}

.information[data-shown='true'] {
  opacity: 1;
}
